body {
    background-color: #1e1e2f;
}

/* Sidebar */
.sidebar {
    background: #111827;
    height: 100vh;
    padding: 20px;
    border-radius: 12px;
}

/* KPI */
.kpi-card {
    background: #1f2933;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    text-align: center;
}

.kpi-title {
    font-size: 14px;
    color: #9ca3af;
}

.kpi-value {
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
}

/* Gráficos */
.graph-card {
    background: #1f2933;
    padding: 15px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    margin-bottom: 20px;
}
